* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Overpass', sans-serif;
    background: hsl(217, 9%, 17%);
}
h1 {
    color: #fff;
    margin: 10px;
}
p {
    font-size: 15px;
    color: rgb(168, 168, 168);
    margin: 10px;
}
.card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.card__rating {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px;
    height: 425px;
    padding: 10px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px hsl(210, 11%, 11%);
}
.card__thanks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px hsl(210, 11%, 11%);
}
.card__image {
    margin: auto;
    width: 30%;
}
.buttons__rating {
    display: flex;
    justify-content: center;
    margin: 30px;
}
.btn {
    width: 30px;
    height: 30px;
    margin: 5px;
    background: hsl(216, 12%, 54%);
    color: #fff;
    border-radius: 100px;
    border: 0;
    font-size: 16px;
}
.btn__rating {
    width: 70px;
    height: 70px;
    margin: 15px;
    font-size: 18px;
    color: #fff;
    background: hsl(212, 7%, 40%);
    box-shadow: 5px 5px 15px 5px hsl(197, 9%, 15%);
    border-radius: 100px;
    border: 0;
}
.btn__rating:hover, .btn__rating:focus{
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    transition: .5s ease-out;
}
.btn__submit {
    margin: auto;
    width: 90%;
    font-size: 16px;
    font-weight: 700;
    background: hsl(25, 97%, 53%);
    color: #fff;
    height: 45px;
    border-radius: 20px;
    border: 0;
    box-shadow: 5px 5px 15px 5px hsl(197, 9%, 15%);
}
.btn__submit:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: hsl(25, 97%, 53%);
    transition: .5s ease-in;
}
.attribution {
    font-size: 12px;
    text-align: center;
    color: white;
    margin: 20px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
@media screen and (max-width: 768px) {
    .card__rating {
        width: 90%;
    }
    .btn__rating {
        margin: 5px;
    }
}
@media screen and (max-width: 1440px) {
    .btn__rating {
        margin: 3px;
    }
    .buttons__rating  {
        margin: 5px;
        padding: 5px;
    }
}